!.gitignore

#ignore thumbnails created by windows
[Tt]humbs.db
#Ignore files built by Visual Studio
*.obj
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
obj/
bin/
_ReSharper*/
[Tt]est[Rr]esult*
ipch
*.sdf
*.opensdf
*.psess
*.suo

# Unnecessary NUnit files
*.VisualState.xml
